*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
/node_modules/
ad.js
TODO
test.html
ClassRecommend/src/main/resources/properties/jdbc.properties
ClassRecommend/target/classes/properties/jdbc.properties
ClassRecommend/target/classes/properties/jdbc.properties
ClassRecommend/ClassRecommend.iml
.vscode
ClassRecommend/target/classes/properties/jdbc.properties
