<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">

    <el-button v-on:click="myfun">请求</el-button>
    <el-button v-on:click="jump">跳转</el-button>
    <el-button v-on:click="textout">输出参数</el-button>
    <p>{{sus}}</p>
    <hr/>
    <p>{{dat}}</p>
    <p v-if="visible===true">正确</p>
    <p v-else>错误</p>
    <el-input v-model="wtf" placeholder="请输入内容"></el-input>
    <p>{{wtf}}</p>
    <select v-model="ots">
        <option v-for="teacher in teachers" v-bind:value="teacher.id">{{teacher.name}}</option>
    </select>
    <p>{{ots}}</p>
</div>
</body>
<!-- import Vue before Element -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script>
    var Vue = new Vue({
        el: '#app',
        data: {
            wtf: '123',
            visible: false,
            MyID: 1,
            sus: 'ewq',
            dat: '',
            ots:'',
            args:['123'],
            teachers:[{
                id:1,
                name:'aaa',
            },{
                id:2,
                name:'bbb',
            },{
                id:3,
                name:'ccc',
            }]
        },
        methods: {
            myfun() {
                let _self = this;
                $.ajax({
                    url: 'http://localhost:8080/login',
                    type: 'GET',//请求类型
                    data: {
                        name: 123,
                        number: 'hlst',
                    },
                    dataType: 'json',
                    success(json) {
                        if (json.success) {
                            this.sus = json.success;
                            this.dat = json.data;
                        } else {
                            console.log(json);
                            Vue.sus = 'fdsfd';
                            // alert(this.sus);
                            // this.sus=json.success;
                            // this.dat=json.data;
                            // console.log(this.sus);
                        }
                    },
                    error: function (XMLHttpRequest) {
                        alert("输出错误信息" + XMLHttpRequest.responseText);
                    }
                });
            },
            jump(url) {
                //本层跳转
                location.href = "lesson/" + this.MyID;  //一般这个就可以了
                // window.location.href = "lesson/"+this.MyID;
                //上一层跳转
                // parent.location.href = "lesson/"+this.MyID;
                //顶层跳转
                // top.location.href = "lesson/"+this.MyID;

            },
            textout(){
                this.Param=this.$router.params.id;
            }
        },
        mounted() {
            // this.myfun();
        }
    })
</script>
</html>
