<!DOCTYPE html>
<!-- Author: Emily Black, 03/21/17 -->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Emily Black</title>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/background.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>
	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/type-it.js"></script>
</head>
<body>
	<div id="particles-js"></div>
	<script src="js/particles.min.js"></script>
	<script src="js/background.js"></script>
	

	<div class="container">
		<span class="type-it" style="color:#00ff00;"></span>
	</div>
	<script>
		var first = "Hello,";
		var second = "My name is <strong>EAMIS-Helper</strong>.";
		var third = "I can recommend u the best choice";
		var fourth0 = "&quot;I solemnly swear that I am up to no good.&quot;"
		var fourth = "<a href=''>login/sign up</a> ";
		$('.type-it').typeIt({
			strings: [first, second, third,fourth0, fourth]
		});
	</script>
	
</body>
</html>