<html>
    <head>
        <meta charset="utf-8">
        <script src='https://cdn.bootcss.com/echarts/3.7.2/echarts.simple.js'></script>
        <script type="text/javascript" src="../../style/newstyle/js/echarts-wordcloud.js"></script>
    </head>
    <body>
        <style>
            html, body, #main {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        </style>
        <div id='main'></div>

        <script>
            var chart = echarts.init(document.getElementById('main'));

            var keywords = {
              "visualMap": 22199,
              "continuous": 10288,
              "contoller": 620,
              "series": 274470,
              "gauge": 12311,
              "detail": 1206,
              "piecewise": 4885,
              "textStyle": 32294,
              "markPoint": 18574,
              "pie": 38929,
              "roseType": 969,
              "label": 37517,
              "emphasis": 12053,
              "yAxis": 57299,
              "name": 15418,
              "type": 22905,
              "gridIndex": 5146,
              "normal": 49487,
              "itemStyle": 33837,
              "min": 4500,
              "silent": 5744,
              "animation": 4840,
              "offsetCenter": 232,
              "inverse": 3706,
              "borderColor": 4812,
              "markLine": 16578,
              "line": 76970,
              "radiusAxis": 6704,
              "radar": 15964,
              "data": 60679,
              "dataZoom": 24347,
              "tooltip": 43420,
              "toolbox": 25222,
              "geo": 16904,
              "parallelAxis": 4029,
              "parallel": 5319,
              "max": 3393,
              "bar": 43066,
              "heatmap": 3110,
              "map": 20285,
              "animationDuration": 3425,
              "animationDelay": 2431,
              "splitNumber": 5175,
              "axisLine": 12738,
              "lineStyle": 19601,
              "splitLine": 7133,
              "axisTick": 8831,
              "axisLabel": 17516,
              "pointer": 590,
              "color": 23426,
              "title": 38497,
              "formatter": 15214,
              "slider": 7236,
              "legend": 66514,
              "grid": 28516,
              "smooth": 1295,
              "smoothMonotone": 696,
              "sampling": 757,
              "feature": 12815,
              "saveAsImage": 2616,
              "polar": 6279,
              "calculable": 879,
              "inactiveOpacity": 4,
              "activeOpacity": 4,
              "showPrevBtn": 19,
              "playIcon": 26,
              "ellipsis": 19,
              "gapWidth": 19,
              "borderColorSaturation": 10,
              "handleIcon": 2,
              "handleStyle": 6,
              "borderType": 1,
              "constantSpeed": 1,
              "polyline": 2,
              "blendMode": 1,
              "dataBackground": 1,
              "textAlign": 1,
              "textBaseline": 1,
              "brush": 3
            };

            var data = [];
            for (var name in keywords) {
                data.push({
                    name: name,
                    value: Math.sqrt(keywords[name])
                })
            }

            var maskImage = new Image();

            var option = {
                series: [ {
                    type: 'wordCloud',
                    sizeRange: [10, 100],
                    rotationRange: [-90, 90],
                    rotationStep: 45,
                    gridSize: 2,
                    shape: 'pentagon',
                    maskImage: maskImage,
                    drawOutOfBound: false,
                    textStyle: {
                        normal: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            color: 'red'
                        }
                    },
                    data: data.sort(function (a, b) {
                        return b.value  - a.value;
                    })
                } ]
            };

            maskImage.onload = function () {
                option.series[0].maskImage
                chart.setOption(option);
            }

            maskImage.src = '../../style/newstyle/images/wordcloud.png';

            window.onresize = function () {
                chart.resize();
            }

        </script>
    </body>
</html>