<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>LOGIN_START</title>

	<link href="../style/newstyle/css/start_bootstrap.min.css" rel="stylesheet">
	<link href="../style/newstyle/css/start_background.css" rel="stylesheet">
	<link href="../style/newstyle/css/start_style.css" rel="stylesheet">
	<!--<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/>-->
	
	<script src="../style/newstyle/js/start_bootstrap.min.js"></script>
	<script src="../style/newstyle/js/start_jquery.min.js"></script>
	<script src="../style/newstyle/js/start_type-it.js"></script>
</head>
<body>
	<div id="particles-js"></div>
	<script src="../style/newstyle/js/start_particles.js"></script>
	<script src="../style/newstyle/js/start_background.js"></script>
	

	<div class="container">
		<span class="type-it" style="color:#00ff00;"></span>
	</div>
	
	<script>
		var first = "Hello,";
		var second = "My name is <strong>EAMIS-Helper</strong>.";
		var third = "I can recommend u the best choice";
		var fourth0 = "<li>&quot;I solemnly swear that I am up to no good.&quot;</li>"
		var fourth = "<a href='login.html'>login/sign up</a> ";
		$('.type-it').typeIt({
			strings: [first, second, third,fourth0, fourth]
		});
	</script>
	
</body>
</html>