/*---photoday-section 老师点赞css-----*/ 
 .col-sm-4 {
    width: 33.33333333%;
  }
 .w3-agileits-crd {
    float: left;
    width: 40%;
    padding-left: 0;
}
/*---photoday-section-----*/ 
.card {
    background: #fff;
    margin-bottom: 20px;
	 box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
*, :active, :focus, :hover {
    outline: 0!important;
    -webkit-tap-highlight-color: transparent!important;
}
.agileinfo-cdr {
    padding: 25px 27px;
}
.card-header h3 {
    font-size: 23px;
}
.list-group .list-group-item {
    padding: 18px 12px;
}
.pull-left {
    float: left!important;
}
/*--statistics--*/
.stats-info.widget {
    padding: 1em;
    background-color: #fff;
}
.stats-info ul li {
    margin-bottom: 1em;
    border-bottom: 1px solid #EFE9E9;
    padding-bottom: 10px;
    font-size: 0.9em;
    color: #555;
}
.progress.progress-right {
    width: 25%;
    float: right;
    height: 8px;
    margin-bottom: 0;
}
.stats-info ul li.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0.5em;
}
.stats-info span.pull-right {
    font-size: 0.7em;
    margin-left: 11px;
    line-height: 2em;
}
.stats-info.stats-last {
    padding: 1.15em 1em 0.4em;
}
/*--//charts--*/
.widget-shadow {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table.stats-table {
    margin-bottom: 0;
}
.agile-info-stat {
    float: left;
    width: 60%;
}
/*---- responsive-design -----*/
@media(max-width:1336px){
.main h1 {
    font-size: 66px;
}
.main p {
    font-size: 18px;
}
}
@media(max-width:1280px){
.main h1 {
    font-size: 62px;
}
}
@media(max-width:1024px){
.main h1 {
    font-size: 56px;
}
.w3l-txt {
    margin: 1em 0;
}
}
@media(max-width:800px){
.text {
    width: 70%;
    padding: 3em 0em 3em 0em;
}
.main h1 {
    font-size: 52px;
}
p {
    font-size: 16px;
}
.footer {
    padding: 1em 0em;
}
}
@media(max-width:768px){

}
@media(max-width:736px){
	.footer p{
		font-size:16px;
		
	}
	.main h1 {
    font-size: 48px;
}
}
@media(max-width:667px){
	.footer p{
		font-size:15px;
	}
	.main h1 {
    font-size: 43px;
}
.text {
    padding: 3em 0em 1em 0em;
}
}
@media(max-width:640px){
.main h1 {
    font-size: 40px;
}
.main p {
    line-height: 26px;
}
}
@media(max-width:600px){
.main h1 {
    font-size: 37px;
}
	.footer p{
		font-size:15px;
	}
}
@media(max-width:568px){
	.main p{
		font-size:16px;
	}
	.footer p{
		font-size:14px;
	}
	.main h1 {
    font-size: 34px;
}
.back a {
    font-size: 1em;
    padding-top: 8px;
}
}
@media(max-width:480px){
.main h1 {
    font-size: 32px;
}
.text {
    padding: 3em 0em 0em 0em;
}
}
@media(max-width:414px){
	.text{
		width:100%;
		float: none;
	}
	.footer p{
		font-size:14px;
	}
	.text {
    padding: 2em 0em 0em 0em;
}
.image {
    width: 60%;
    float: none;
    margin: 16px auto;
}
.footer {
    padding: 0em 0em;
}
}
@media(max-width:384px){
	.footer p{
		font-size:14px;
		 margin: 0px 0 10px;
}
}
@media(max-width:375px){

	.footer p{
		font-size:14px;
	}
}
@media(max-width:320px){
.agileits_main_grid_left h1 {
    font-size: 1.8em;
}
.main h1 {
    font-size: 28px;
	margin-bottom:0;
}
.main p {
    font-size: 14px;
	line-height:24px;
}
.footer p {
    font-size: 14px;
    padding-top: 0px;
}
.back a {
    padding-top: 0px;
}
.text {
    padding: 1em 0em 0em 0em;
}
}
/*结束*/
/*下滑*/
.abcen {
    position: absolute;
    bottom: 8%;
}
/**/