/*新的搜索栏*/
/*----*/
.banner{
background:url(..//images/banner_search.jpg) no-repeat 0px 0px;
min-height:250px;
background-size:contain;
}
.header{
padding:3em 0;
}
.logo{
float:left;
}
.logo a{
display:inline-block;
}
.top-menu{
float:right;
}
.top-menu ul li{
display:inline-block;
}
.top-menu ul li a{
color:#fff;
font-size:1.1em;
padding:1em 1em 0em 1em;
text-decoration:none;
display:block;
font-weight:400;
}
.top-menu ul li a:hover{
color:#0199e6;
}
.banner-text{
margin-top:4%;
text-align:center;
    padding-right: 60px;
}
.banner-text h1{
font-size:3.2em;
color:#fff;
font-weight:500;
margin-bottom:0.5em;
font-family: 'Raleway', sans-serif;
}
.banner-text h1 span{
color:#0199e6;
font-weight:700;
}
.banner-text h1 label{
font-weight:700;
}
.banner-form form{
background:rgba(0, 0, 0, 0.36);
padding:2em;
width: 90%;
    margin-left: 10px;
}
.banner-form form input[type="text"] {
width: 15%;
padding: 12px 14px;
border: 1px solid #0199e6;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 400;
display:inline-block;
background:transparent;
border-left:3px solid #0199e6;
border-radius:3px;
margin-right:1em;
}
.banner-form form input[type="submit"] {
width: 18%;
padding: 12px 14px;
border: 1px solid #0199e6;
font-size: 1.2em;
color: #fff;
outline: none;
font-weight: 600;
background:#0199e6;
border-radius:3px;
border-left:5px solid #0199e6;
border-right:5px solid #0199e6;
transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.banner-form form input[type="submit"]:hover{
background:transparent;
border: 1px solid #0199e6;
border-left:8px solid #0199e6;
border-right:8px solid #0199e6;
}
.register{
float:right;
position:relative;
width:45%;
margin-top:1.5em;
}
.register span{
background:url(../../../images/arrow.png) no-repeat 0px 0px;
width:35px;
height:26px;
display:inline-block;
text-align:right;
position:absolute;
right: 49%;
bottom: 9px;
}
.register h3{
font-size:1.2em;
color:#fff;
font-weight:200;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
/*结束*/
/*导航栏*/
/*-- newsletter --*/
.newsletter {
    position: relative;
}
.newsletter input[type="email"] {
    font-style: italic;
    padding: 11px 60px 13px 16px;
    border: 1px solid #3a3939;
    width: 100%;
    text-align: left;
    color: #fff;
    background-color: #191818;
    outline: none;
}
.newsletter input[type="submit"] {
    width: 55px;
    height: 41px;
    background-image: url(../images/email.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: #efbe0c;
    top: 2px;
    right: 2px;
    padding: 0em;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.newsletter {
    text-align: center;
	margin-top: 1em;
}
.newsletter h4 {
    font-size: 1.4em;
    color: #fff;
    font-family: 'Gudea', sans-serif;
    text-transform: uppercase;
	font-weight: 700;
    margin:2em 0 3em 0;
}
.newsletter form {
    width: 60%;
    margin: 0 auto;
}
/*--social-icons--*/
.social {
    text-align: center;
    transform: translateY(-50%);
}
.social li {
    display: inline;
    margin-right: 7px;
}
.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
      width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 4px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 50px;
    margin-right: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2),
	0 1px 0 rgba(255, 255, 255, 0.2);
    font-size: 32px;
}
.social .link span {
	display: block;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.social .link:hover {
    color: white;
    transform: translateX(0px) rotate(360deg);
}
.social .link.orange {
	background-color: tomato;
	color: white;
}
.social .link.lblue {
  background-color: #00ACEE;
  color: white;
}
.social .link.dblue {
  background-color: #3B5998;
  color: white;
}
.social .link.yellow {
  background-color: darkmagenta;
  color: white;
}
.social .link.dgreen {
  background-color: green;
  color: white;
}
/*--//social-icons--*/


/*结束*/